@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8">
    <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
        <div class="col order-last order-lg-first">
            <h1 class="display-5 fw-bold lh-1 mb-3">Fizzy Bubbly <br> A Coding Project</h1>
            <h4 class="lead">
                Fizzing and Bubbling all the way! Counting from 1 to 100, if the
                number is a multiple of Fizzy it's <span class="fw-bold"> Fizz</span>.
                If it's a multiple of Bubbly, it's a <span class="fw-bold">Buzz</span>. If it's both, OH Boy,
                it's <span class="fw-bold">FizzBuzz</span> !
                Enter each number in it's own input and see what happens.
            </h4>
            <ul class="fa-ul pt-2 checklist">
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and Bootstrap
                    Layout
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript
                    Fundamentals
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Loops
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Functions
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript DOM
                    Manipulation
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript
                    If/Then/Else
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Boolean
                    Logic
                </li>
            </ul>
            <div>
                <a asp-controller="Home" asp-action="Fizzy" type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2">Try it out</a>
            </div>
            <h5 class="fw-bold mt-5">
                <div class="d-flex">
                    <div class="row">
                        <div class="col"><i class="fab fa-bootstrap fa-3x bsicon"></i></div>
                        <div class="col"><i class="fab fa-html5 fa-3x html5icon"></i></div>
                        <div class="col"><i class="fab fa-css3-alt fa-3x cssicon"></i></div>
                        <div class="col"><i class="fab fa-js-square fa-3x jsicon"></i></div>
                    </div>
                </div>
            </h5>
        </div>
        <div class="col">
            <img src="~/img/FizzyBubbly.svg" class="img-fluid center-block d-block mt-5" width="500"
                 alt="FizzyBubbly Logo">
        </div>
    </div>
</div>